.field {
  @include fluid-text(16, 14);

  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 5px;

  @include mobile {
    row-gap: 10px;
  }

  &__input {
    width: 100%;
    height: var(--input-height);
    padding-inline: 28px;
    border: var(--border);
    border-radius: var(--border-radius);
    transition-duration: var(--transition-duration);

    @include hover {
      background-color: var(--color-accent);
    }

    @include mobile {
      padding-inline: 20px;
    }

    &:focus {
      border-color: var(--color-accent);
      outline: none;
    }

    &::placeholder {
      color: var(--color-gray-alt);
    }

    &_textarea {
      height: 190px;
      padding-block: 18px;
      resize: vertical;

      @include mobile {
        height: 132px;
      }
    }
  }
}
