.pagination {
  &__list {
    display: flex;
  }

  &__button {
    @include reset-button;
    @include flex-center;
    @include square(var(--pagination-button-size));

    color: var(--color-light);

    @include hover {
      color: var(--color-accent);
    }

    &.is-current {
      color: var(--color-accent);
    }
  }
}
