.partners {
  &__list {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;

    @include tablet {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

    @include mobile-s {
      --heroPartnersWidthoffsetX: 60px;

      column-gap: 0;
      row-gap: 20px;
      width: calc(100vw + var(--heroPartnersWidthoffsetX) * 2);
      margin-left: calc(
        (var(--heroPartnersWidthoffsetX) + var(--container-padding-x)) * -1
      );
    }
  }

  &__item {
    @include tablet {
      display: flex;
      justify-content: end;

      &:nth-child(-n + 3) {
        justify-content: start;
      }
    }

    @include mobile-s {
      justify-content: start;

      &:nth-child(-n + 3) {
        justify-content: end;
      }
    }
  }

  &__item-image {
    filter: grayscale(1);
  }
}
