.reviews {
  --reviewsPaddingInline: 30px;

  display: flex;
  flex-direction: column;
  row-gap: 128px;
  padding-bottom: 58px;
  padding-top: 84px;
  color: var(--color-light);
  background-color: var(--color-dark);
  border-radius: var(--border-radius-large);
  overflow-x: hidden;

  @include tablet {
    padding-bottom: 30px;
    padding-top: 50px;
    row-gap: 50px;
  }

  @include mobile {
    padding-top: 30px;
  }

  &__slider {
    --reviewsSliderSlideWidth: 606px;

    @include tablet {
      --reviewsSliderSlideWidth: 330px;
    }

    @include mobile-s {
      --reviewsSliderSlideWidth: 100%;
    }

    &-list {
      display: flex;
      align-items: end;
      column-gap: 50px;
      scroll-snap-type: x mandatory;
      overflow-x: scroll;
      padding-inline: var(--reviewsPaddingInline);

      @include tablet {
        column-gap: 30px;
      }

      // @include tablet-above {
      //   margin-left: calc(var(--reviewsSliderSlideWidth) * 0.7 * -1);
      // }
    }

    &-item {
      min-width: var(--reviewsSliderSlideWidth);
      scroll-snap-align: start;
      scroll-margin-left: var(--reviewsPaddingInline);
    }
  }

  &__actions {
    --actionsMaxWidth: 564px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: calc(var(--actionsMaxWidth) + var(--reviewsPaddingInline) * 2);
    margin-inline: auto;
    padding-inline: var(--reviewsPaddingInline);

    @include mobile {
      --actionsMaxWidth: 330px;
    }
  }

  &__arrow-button {
    @include reset-button;
    @include flex-center;
    @include square(var(--pagination-button-size));

    color: var(--color-light);

    @include hover {
      color: var(--color-accent);
    }

    &:disabled {
      color: var(--color-gray-alt);
      cursor: not-allowed;
    }
  }
}
