.subscribe-form {
  align-self: start;
  display: flex;
  width: 100%;
  max-width: 634px;
  column-gap: 20px;
  padding: 58px 40px;
  background-color: var(--color-dark-alt);
  border-radius: var(--border-radius);

  @include tablet {
    flex-direction: column;
    row-gap: 22px;
    padding: 30px;
    max-width: 450px;
    min-width: 400px;
  }

  @include mobile-s {
    min-width: 100%;
  }
}
